
*{
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: auto;
    overflow: hidden;
    justify-content: space-between;
    
    
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: 0;
}

header {
display: flex;
background-color: #1F2937;
color: #E5E7EB;
height: 60px;
justify-content: space-between;
padding: 50px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 0;
}

.header-links{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
}

body {
    margin: 0px;
}

.one{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.photo img{
    display: flex;
    flex: auto;
    width: 500px;
    height: auto;
    padding: 15px;
}

.left button{
    width: 100px;
    height: auto;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.one .left .title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.two {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.two .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 15px;
}

.two .cards {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.two .cards .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
}

.two .cards .card img{
    height: 100px;
    width: 100px;
    border: #3882f6;
    border-width: 5px;
    padding: 5px;
    align-self: center;
    border-radius: 10px;
    border-style: solid;

    
}

.three {
    background-color: #E5E7EB; 
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    padding: 15px;

}

.author {
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.four {
    display: flex;
    background-color: #3882f6;
    padding: 15px;
    margin-bottom: 50px;
    border-width: 5px;
    border-style:solid;
    border-color: #3882f6;
    border-radius: 10px;
    height: 60px;
    align-items: center;
    color: #E5E7EB;
    font-size: 12px;    
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}

.four .title{
    font-weight: bold;
    font-size: 18px;
}

 button {
    background-color: #3882f6;
    border-style:solid;
    border-color:#3882f6;
    border-radius: 5px;
    padding: 5px;
    color: #F9FAF8;
 }

.four button {
    border-color:#F9FAF8;
    width: 100px;

}
footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    height: 60px;
    align-items: center;
}

